.personal-information-div {
    font-family: "San Francisco", Arial, sans-serif;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
}

.table-header {
    font-weight: bold;
}

.grey-row {
    background-color: rgb(170, 167, 167);
}

td {
    text-align: center;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    block-size: 45px;
    align-content: center;
    margin-top: 3px;
    margin: 10px;
}

.social-media-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-information-div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill-table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal-summary-div {
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.table-div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}

.input-text {
    color: white;
    font-size: 69px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carouselExample {
    display: flex;
}

.navbar_bg-body-tertiary{
    margin-top: 10px;
    margin-bottom: 10px;
}

#center-div {
    text-align: center;
    justify-content: center;
}

.progress {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.d-flex_align-items-center {
    color:white;
}

#porcentaje-carrera {
    color:white;
}